@model FolhaPagamentoJoinha6.Models.EmpresaCliente

@{
    ViewData["Title"] = "Index";
    var listaFilial = ViewData["ListaFilial"] as List<EmpresaCliente>;
    var empresaMae = ViewData["empresaMae"] as EmpresaCliente;
}

<h1>Filial de @empresaMae?.razaoSocial</h1>

<partial name="_AlertsPartial">

    <form>
        <input type="hidden" asp-for="empresaMae" value="@empresaMae?.empresaMae" />
        <button type="submit" asp-action="Create" class="btn btn-primary">Criar nova filial</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    idFilial
                </th>
                <th>
                    CNPJ
                </th>
                <th>
                    email
                </th>
                <th>
                    nomeFantasia
                </th>

                <th>
                    idEmpresaMae
                </th>
            </tr>
        </thead>
        <tbody>
            @if (listaFilial != null)
            {
                foreach (var empresa in listaFilial)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => empresa.empresaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => empresa.cnpj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => empresa.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => empresa.nomeFantasia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => empresa.empresaMae)
                        </td>

                        <td>
                            <a class="btn btn-outline-secondary mr-2 disabled" href="@Url.Action("Details", new {  id=empresa.empresaId  })">Details</a>
                            <a class="btn btn-outline-success mr-2 disabled" href="@Url.Action("Edit", new {  id=empresa.empresaId  })">Edit</a>
                            <a class="btn btn-outline-danger disabled" title="Função desativada" data-toggle="tooltip" href="@Url.Action("Delete", new { /* id=item.PrimaryKey */ })">Delete</a>
                        </td>
                    </tr>
                }
            }

            <partial name="_info-message">
        </tbody>
    </table>

    <div class="mt-5 mb-5">
        <form asp-controller="Empresa" asp-action="Index">
            <button class="btn btn-secondary"  onclick="voltar()">Back to Empresas</button>
        </form>
    </div>
